{% extends "blog/layout.html" %}

{% block title %}{{post.title}}{% endblock %}

{% block css %}

<style>
 .box {
    margin-top: 5%;
    text-align: center;
    width: 90%;
    max-width: 600px; /* Adjust maximum width for responsiveness */
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    border: solid 3px #65cca9;
}

input {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: none;
    margin: 10px 0;
    border-radius: 20px;
}

.submit, .back {
    background-color: white;
    color: #65bbcc;
    font-size: 18px;
    font-family: sans-serif;
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    border: 2px solid #65bbcc;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit:hover, .back:hover {
    background-color: #65bbcc;
    color: white;
}

.type {
    font-size: 16px;
    outline: solid 2px #65cca9;
    font-family: sans-serif;
    width: 100%;
    padding: 5px;
    border-radius: 20px;
    transition: border 0.3s;
}

.type:hover, .type:focus {
    border: solid 2px #65cca9;
    outline: none;
}

h2 {
    font-family: sans-serif;
    font-size: 24px;
}

.text-area {
    border-radius: 20px;
    outline: none;
    border: none;
    border-collapse: collapse;
    width: 100%;
    padding: 10px;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .box {
        padding: 15px;
    }

    .submit, .back {
        font-size: 16px;
        padding: 8px;
    }

    .type {
        font-size: 14px;
        padding: 3px;
    }

    h2 {
        font-size: 20px;
    }
}


</style>

{% endblock %}

{% block body %}

<div style="display: flex; flex-direction: row; justify-content: start; align-items: center;">
    <div style="width: 400px; border: 2px solid black; margin-right: 100px;">
        <h4 style="text-align: center;">Comments</h4>
        <ul style=" list-style-type: none;">
            {% for comment in comments %}
            <li style="border-bottom: 1px solid black; margin: 5px;">{{comment.comment}} &nbsp;&nbsp; &nbsp;  <sub style="color: gray; font-style: italic;">{{comment.username}}, {{comment.date}}</sub></li>
            {% empty %}
            <li>No Comments</li>
            {% endfor %}
        </ul>
    </div>
    
    <div class="box">
        <h2>{{post.title}}</h2>
        <div style="text-align: center; padding: 30px; word-wrap:break-word;">
            {{post.post_body}}
        </div>
        by {{post.username}}, {{post.date}}
    </div>
</div>
<div style="display: flex; justify-content: end; margin-top: 100px; margin-right: 100px;">
    <button type="button" class="back" onclick="location.href='/home'">Back</button>
    <form action="" method="post">
        {% csrf_token %}

        <input type="text" name="comment" placeholder="Comment" class="type" maxlength="100">
        <input type="submit" value="Submit" class="submit">
    </form>
</div>

{% endblock %}